@model IEnumerable<NgoTanTai_Tuan3.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h2 class="text-center my-4">Danh sách danh mục</h2>

<div class="d-flex gap-2 mb-4">
    <a asp-action="Add" class="btn btn-success">+ Thêm danh mục</a>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Xem sản phẩm</a>
</div>

<table class="table table-bordered table-hover align-middle shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Tên danh mục</th>
            <th class="text-center">Tuy chinh</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td class="text-center">
                    <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-sm btn-warning me-2">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-sm btn-danger" >Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
